{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Libro de Obra Digital</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static './assets2/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/plugins/bootstrap/4.1.0/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/plugins/animate/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/css/default/style.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/css/default/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/css/default/theme/default.css' %}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static './assets2/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<div class="login-cover">
	    <div class="login-cover-image" style="background-image: url({% static './assets2/img/login-bg/login-bg-17.jpg' %})" data-id="login-cover-image"></div>
	    <div class="login-cover-bg"></div>
	</div>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated fadeIn">
            <!-- begin brand -->

            <div class="login-header">
                <div class="brand">
                    <b>Libro de Obra Digital</b>
                </div>
            </div>
            <!-- end brand -->
            {% block content %}
            	{% if form.errors %}
	    			<p>Tu nombre de usuario y contraseña no coincide. Por favor intente de nuevo.</p>
	    			{% endif %}
	    			{% if next %}
	        			{% if user.is_authenticated %}
	        				<p>Tu cuenta no tiene acceso a esta página. Para proceder,
	        				por favor inicie sesión con una cuenta que tenga acceso.</p>
	        			{% else %}
	        				<p>Por favor inicie sesión para ver esta página.</p>
	        			{% endif %}
		    {% endif %}
		    <form method="post" action="{% url 'login' %}">
		    	{% csrf_token %}
		    <div class="login-content">
		        <form action="index.html" method="GET" class="margin-bottom-0">
		            <div class="form-group m-b-20">
		                <input type="text" class="form-control form-control-lg" placeholder="Nombre de Usuario" name="username" />
		                
		            </div>
		            <div class="form-group m-b-20">
		                <input type="password" class="form-control form-control-lg" placeholder="Contraseña" name="password" />
		                
		            </div>
		            <div class="login-buttons">
		                <button type="submit" class="btn btn-success btn-block btn-lg">Iniciar sesión</button>
		                <input type="hidden" name="next" value="{{ next }}" />
		            </div>
		        </form>
		        {# Assumes you setup the password_reset view in your URLconf #}
		        <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
		    </div>
			<!-- end login -->
            {% endblock %}
    </div>
        
        <ul class="login-bg-list clearfix">
            <li class="active"><a href="javascript:;" data-click="change-bg" data-img="{% static './assets2/img/login-bg/login-bg-17.jpg' %}" style="background-image: url({% static './assets2/img/login-bg/login-bg-17.jpg' %})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{% static './assets2/img/login-bg/login-bg-16.jpg' %}" style="background-image: url({% static './assets2/img/login-bg/login-bg-16.jpg' %})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{% static './assets2/img/login-bg/login-bg-15.jpg' %}" style="background-image: url({% static './assets2/img/login-bg/login-bg-15.jpg' %})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{% static './assets2/img/login-bg/login-bg-14.jpg' %}" style="background-image: url({% static './assets2/img/login-bg/login-bg-14.jpg' %})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{% static './assets2/img/login-bg/login-bg-13.jpg' %}" style="background-image: url({% static './assets2/img/login-bg/login-bg-13.jpg' %})"></a></li>
            <li><a href="javascript:;" data-click="change-bg" data-img="{% static './assets2/img/login-bg/login-bg-12.jpg' %}" style="background-image: url({% static './assets2/img/login-bg/login-bg-12.jpg' %})"></a></li>
        </ul>
        
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static './assets2/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static './assets2/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static './assets2/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="{% static './assets2/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static './assets2/plugins/js-cookie/js.cookie.js' %}"></script>
	<script src="{% static './assets2/js/theme/default.min.js' %}"></script>
	<script src="{% static './assets2/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static './assets2/js/demo/login-v2.demo.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
		});
	</script>
</body>
</html>
