{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es-cl">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Libro de Obra Digital</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static './assets2/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/plugins/bootstrap/4.1.0/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/plugins/animate/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/css/default/style.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/css/default/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static './assets2/css/default/theme/default.css' %}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static './assets2/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="/lod" class="navbar-brand"><span class="navbar-logo"></span> <b>Libro de Obra Digital</b></a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li>
					<form class="navbar-form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Buscar..." />
							<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
						</div>
					</form>
				</li>
				<li class="dropdown">
					<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
						<i class="fa fa-bell"></i>
						<span class="label">2</span>
					</a>
					<ul class="dropdown-menu media-list dropdown-menu-right">
						<li class="dropdown-header">NOTIFICATIONS (2)</li>
						<li class="media">
							<a href="javascript:;">
								<div class="media-left">
									<i class="fa fa-plus media-object bg-silver-darker"></i>
								</div>
								<div class="media-body">
									<h6 class="media-heading">Nueva Anotación Libro Maestro - Obra: 01 <i class="fa fa-exclamation-circle text-danger"></i></h6>
									<div class="text-muted f-s-11">Hace 25 minutos</div>
								</div>
							</a>
						</li>

						<li class="media">
							<a href="javascript:;">
								<div class="media-left">
									<i class="fa fa-plus media-object bg-silver-darker"></i>
								</div>
								<div class="media-body">
									<h6 class="media-heading"> Nueva Anotación Libro de <br> Comunicación - Obra: 01<i class="fa fa-exclamation-circle text-danger"></i></h6>
									<div class="text-muted f-s-11">Hace 1 hora</div>
								</div>
							</a>
						</li>

						<li class="dropdown-footer text-center">
							<a href="javascript:;">Ver Más</a>
						</li>
					</ul>
				</li>
				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{% static './assets2/img/user/user-4.jpg' %}" alt="" /> 
						<span class="d-none d-md-inline">{{user.username | upper}}</span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="javascript:;" class="dropdown-item">Editar Perfil</a>
						<a href="javascript:;" class="dropdown-item">Cambiar Contraseña</a>
						<div class="dropdown-divider"></div>
						<a href="{%url 'logout' %}" class="dropdown-item">Cerrar Sesion</a>
					</div>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image">
								<img src="../assets2/img/user/user-13.jpg" alt="" />
							</div>
							<div class="info">
								Administrador
								<small>Contratista</small>
							</div>
						</a>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="has-sub">
						<a href="javascript:;">
					        <b class="caret"></b>
							<i class="fab fa-simplybuilt"></i> 
						    <span>LOD Vigentes</span>
						</a>
						<ul class="sub-menu">
						    <li><a href="#">Generar Aperturas</a></li>
						    <li><a href="#">Cierres</a></li>
						    <li><a href="#">Nuevos Folios</a></li>
						    <li><a href="#">Folios Pendientes</a></li>
						    <li><a href="#">Borradores Pendientes</a></li>
						    <li><a href="#">Asignar Asistentes</a></li>
						    <li><a href="#">Folios Generados</a></li>
						</ul>
					</li>

					<li class="has-sub">
						<a href="javascript:;">
					        <b class="caret"></b>
							<i class="fab fa-simplybuilt"></i> 
						    <span>LOD Historicos</span>
						</a>
						<ul class="sub-menu">
						    <li><a href="#">Folios</a></li>
						    <li><a href="#">Folios Generados</a></li>
						</ul>
					</li>

					<li><a href="#"><i class="fa fa-calendar"></i> <span>Carta Gantt</span></a></li>

			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="/lod">Inicio</a></li>
				<li class="breadcrumb-item active">"Hacer Nombre Dinámico"</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			{% block content %}
					<h1 class="page-header">Página de inicio <small>Sub título</small></h1>
			{% endblock %}
			
			<!-- end page-header -->
			
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	<!-- "{% static './assets/img/user/user-2.jpg' %}" -->
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static './assets2/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static './assets2/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static './assets2/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="{% static './assets2/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static './assets2/plugins/js-cookie/js.cookie.js' %}"></script>
	<script src="{% static './assets2/js/theme/default.min.js' %}"></script>
	<script src="{% static './assets2/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
