{% extends './base_lod.html' %}
<head>
    {% block head %}
    {% endblock %}

</head>
<body >
	{% block content %}
		<h1 class="page-header">Anotación <small>Agregar nueva anotación</small></h1>
	{% endblock %}
</body>

</html>
